<div class="color-medium header-blurred w-full pointer-events-none">
    <div class="container mx-auto flex justify-between">
        <div class="flex items-center pointer-events-auto">
            <a  routerLink=""
                class="h-6 w-6 mr-3 logo-container pseudo-border circular">
                <logo title="Home"></logo>
            </a>
            <h1 class="bg-gradient-light clip-text">{{ title }}</h1>
        </div>
        <!-- todo: move all of these links to a single component, share with home page -->
        <div class="flex items-center pointer-events-auto">
            <a      href="https://github.com/naschorr"
                    target="_blank"
                    class="nav-container inline-block m-2"
                    title="My GitHub">
                <div class="bg-gradient-medium github-mask maskable nav-item"></div>
                <div class="bg-gradient-light github-filled-mask maskable nav-item hoverable"></div>
            </a>
            <a      routerLink="/portfolio"
                    class="nav-container inline-block m-2"
                    title="Projects">
                <div class="bg-gradient-medium flask-mask maskable nav-item"></div>
                <div class="bg-gradient-light flask-filled-mask maskable nav-item hoverable"></div>
            </a>
        </div>
    </div>
</div>
