<div class="header-blurred w-full pointer-events-none">
    <div class="container mx-auto flex justify-between">
        <div class="flex items-center px-3 py-1 mx-4 pointer-events-auto">
            <logo   href="./"
                    size="1.5rem"
                    containerClasses="mr-3 hoverable-feature"
                    logoClasses="bg-gradient-feature"
                    title="Home"></logo>
            <h1 class="bg-gradient-feature-short clip-text font-normal select-none">{{ title }}</h1>
        </div>
        <!-- todo: move all of these links to a single component, share with home page -->
        <div class="flex items-center px-3 py-1 mx-3 pointer-events-auto">
            <a      href="https://github.com/naschorr"
                    target="_blank"
                    class="nav-container inline-block m-2"
                    title="My GitHub">
                <div class="bg-gradient-medium github-mask maskable nav-item"></div>
                <div class="bg-gradient-light github-filled-mask maskable nav-item hoverable"></div>
            </a>
            <a      href="/projects"
                    class="nav-container inline-block m-2"
                    title="Projects">
                <div class="bg-gradient-medium flask-mask maskable nav-item"></div>
                <div class="bg-gradient-light flask-filled-mask maskable nav-item hoverable"></div>
            </a>
            <a      href="https://www.printables.com/@naschorr_134538"
                    target="_blank"
                    class="nav-container inline-block m-2"
                    title="3D Printing">
                <div class="bg-gradient-medium printer-mask maskable nav-item"></div>
                <div class="bg-gradient-light printer-filled-mask maskable nav-item hoverable"></div>
            </a>
        </div>
    </div>
</div>
