<div class="flex justify-center w-full {{ containerClasses.join(' ') }} header-blurred pointer-events-none color-light scrollbar-offset">
    <div class="container flex justify-between mx-4">
        <div class="flex items-center pointer-events-auto">
            <a  routerLink=""
                class="h-6 w-6 mr-3 logo-container pseudo-border circular">
                <logo title="Home"></logo>
            </a>
            <h1 class="bg-gradient-light clip-text">{{ title }}</h1>
        </div>
        <div class="flex items-center pointer-events-auto gap-3">

            <a      href="https://github.com/naschorr"
                    target="_blank">
                <image-button   [isDark]=true
                                buttonFlavor="button-sm"
                                contentHeight="1rem"
                                imagePath="assets/images/icons/github-filled.png"
                                imageAltText="GitHub logo"
                                text="GitHub"
                                [textClasses]="['hidden', 'sm:inline']">
                </image-button>
            </a>

            <a      routerLink="/portfolio"
                    class="w-full">
                <image-button   [isDark]=true
                                buttonFlavor="button-sm"
                                contentHeight="1rem"
                                imagePath="assets/images/icons/terminal.png"
                                imageAltText="Image of a computer terminal's `>_` prompt"
                                text="Portfolio"
                                [textClasses]="['hidden', 'sm:inline']">
                </image-button>
            </a>

        </div>
    </div>
</div>
