@use "../../../variables";
@use "../../../mixins";
@use "sass:color";

:host {
    position: sticky;
    top: 0;
    // Force the z-index up partially so that the header stays on top, but also to raise it above certain elements with
    // mask-image applied to them
    z-index: 100;
}

.header-blurred {
    @include mixins.bg-gradient(variables.$dark-color, variables.$dark-gradient-color);
    border-image-source: linear-gradient(90deg, variables.$feature-color, variables.$feature-gradient-short-color);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-width: 2px;
    border-image-slice: 1;
}
@supports (backdrop-filter: blur()) {
    .header-blurred {
        // Tweak the alpha of the gradient to make the title easier to read when blurring lighter colors
        @include mixins.bg-gradient(
            color.adjust(variables.$dark-color, $alpha:-0.5),
            color.adjust(variables.$dark-gradient-color, $alpha:-0.8)
        );
        backdrop-filter: blur(variables.$blur-radius);
    }
}

.logo-container {
    border-radius: 50%;
    transition: box-shadow variables.$animation-duration-slow ease-in-out;
}
// Normally this would be created dynamically, but there's no good way to add a hover style outside of the CSS
// todo: maybe Tailwind's states might help out? https://tailwindcss.com/docs/hover-focus-and-other-states
$logo-glow-spread-radius: 1rem;
.logo-container.hoverable-feature:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$feature-color;
}
.logo-container.hoverable-dark:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$dark-color;
}
.logo-container.hoverable-medium:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$medium-color;
}
.logo-container.hoverable-light:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$light-color;
}

.icon {
    filter: variables.$medium-color-filter;
}
