@use "../../../variables";

:host {
    display: flex;
    align-items: center;
}

.logo-container {
    position: relative;
}
.logo-container .logo {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    mask-image: url("../../../assets/images/logos/avatar-circle.png");
    mask-size: 100%;
    z-index: 10;
}
.logo-container .bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    border-radius: calc(50% + 1px); // little bit extra to prevent issues where the border pokes through the edges
}