@use "../../../variables";

:host {
    display: flex;
    align-items: center;
}

.logo-container {
    position: relative;
    border-radius: 50%;
    transition: box-shadow variables.$animation-duration-slow ease-in-out;
}

// Normally this would be created dynamically, but there's no good way to add a hover style outside of the CSS
// todo: maybe Tailwind's states might help out? https://tailwindcss.com/docs/hover-focus-and-other-states
$logo-glow-spread-radius: 1rem;
a.logo-container.hoverable-feature:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$feature-color;
}
a.logo-container.hoverable-dark:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$dark-color;
}
a.logo-container.hoverable-medium:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$medium-color;
}
a.logo-container.hoverable-light:hover {
    box-shadow: 0 0 $logo-glow-spread-radius variables.$light-color;
}

.logo-container .logo {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    mask-image: url("../../../assets/images/avatar_circle.png");
    mask-size: 100%;
    z-index: 10;
}
.logo-container .bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    border-radius: calc(50% + 1px); // little bit extra to prevent issues where the border pokes through the edges
}