<a      *ngIf="!!href"
        [href]="href"
        class="logo-container {{ containerClasses }} inline-block"
        [ngStyle]="{'height': size, 'width': size}">
    <div class="logo {{ logoClasses }}"></div>
    <div    *ngIf="!hideBg"
            class="bg {{ bgClasses }}"></div>
</a>

<div    *ngIf="!href"
        class="logo-container {{ containerClasses }}"
        [ngStyle]="{'height': size, 'width': size}">
    <div class="logo {{ logoClasses }}"></div>
    <div    *ngIf="!hideBg"
            class="bg {{ bgClasses }}"></div>
</div>
