@use "variables";
@use "mixins";
@use "sass:color";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
    overflow-x: hidden;
}

html {
    color: variables.$dark-text-color;
    font: 1.15rem variables.$font-family, arial, sans-serif;
    min-height: 100vh;
    width: 100vw;
    line-height: 1.4;
}

p {
    margin-bottom: 0.375rem;    // mb-1.5
}

img, .skeleton {
    border-radius: variables.$border-radius;
}

// Router Animations

@keyframes enter {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes exit {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}

::view-transition-old(root) {
    animation: exit 0.1s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
    animation: enter 0.1s ease 0s 1 normal forwards;
}


// Convenience Overrides

@for $i from 1 through 3 {
    h#{$i} {
        font-size: 2.5rem - $i * 0.5rem;
        font-weight: 600;
    }
}

a[routerLink] {
    cursor: pointer;
}

@media screen and (prefers-reduced-motion: reduce) {
    // Thanks to: https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/
    * {
        /* Very short durations means JavaScript that relies on events still works */
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}

// Styling

@supports (background-clip: text) {
    .clip-text {
        -moz-background-clip: text;
        -webkit-background-clip: text;
        background-clip: text !important;   // linear-gradient overrides this with background-clip: border-box
        color: transparent;
    }
}

.color-feature {
    color: variables.$feature-color;
}
.color-dark {
    color: variables.$dark-color;
}
.color-medium {
    color: variables.$medium-color;
}
.color-light {
    color: variables.$light-color;
}

.bg-color-feature {
    background-color: variables.$feature-color;
}
.bg-color-dark {
    background-color: variables.$dark-color;
}
.bg-color-medium {
    background-color: variables.$medium-color;
}
.bg-color-light {
    background-color: variables.$light-color;
}

.bg-gradient-feature {
    @include mixins.bg-gradient(variables.$feature-color, variables.$feature-gradient-color);
}
.bg-gradient-feature-short {
    @include mixins.bg-gradient(variables.$feature-color, variables.$feature-gradient-short-color);
}
.bg-gradient-dark {
    @include mixins.bg-gradient(variables.$dark-color, variables.$dark-gradient-color);
}
.bg-gradient-medium {
    @include mixins.bg-gradient(variables.$medium-color, variables.$medium-gradient-color);
}
.bg-gradient-light {
    @include mixins.bg-gradient(variables.$light-color, variables.$light-gradient-color);
}

.filter-light-color {
    filter: variables.$light-color-filter;
}
.filter-dark-color {
    filter: variables.$dark-color-filter;
}

.maskable {
    height: 100%;
    width: 100%;
    mask-size: 100%;
}
.github-mask {
    mask-image: url("../assets/images/icons/github.png");
}
.github-filled-mask {
    mask-image: url("../assets/images/icons/github-filled.png");
}
.flask-mask {
    mask-image: url("../assets/images/icons/flask.png");
}
.flask-filled-mask {
    mask-image: url("../assets/images/icons/flask-filled.png");
}
.printer-mask {
    mask-image: url("../assets/images/icons/3d-printer.png");
}
.printer-filled-mask {
    mask-image: url("../assets/images/icons/3d-printer-filled.png");
}

.horizontal-rule {
    width: 100%;
    height: 0.1rem;
    border-radius: 0.05rem;
}

ul {
    list-style: none;
}
ul li::before {
    content: "●";
    color: variables.$feature-color;
    font-size: 0.7rem;
    display: inline-block;
    width: 0.75rem;
    vertical-align: top;
    margin-top: 0.25em;
}

.nav-container {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
}
.nav-container .nav-item {
    transition: opacity variables.$animation-duration-fast ease-in-out;
}
.nav-container .nav-item:not(.hoverable) {
    opacity: 1;
}
.nav-container .nav-item:not(.hoverable):hover,
.nav-container .nav-item:not(.hoverable).active {
    opacity: 0;
}
.nav-container .nav-item.hoverable {
    position: absolute;
    top: 0;
    opacity: 0;
}
.nav-container .nav-item.hoverable:hover,
.nav-container .nav-item.hoverable.active{
    opacity: 1;
}

.button, .button-lg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: variables.$border-radius;
    padding: variables.$button-padding;
    cursor: pointer;
}
.button-sm {
    @extend .button;
    padding: variables.$button-sm-padding;
}

.panel {
    background-color: variables.$panel-background-color;
    border-radius: variables.$border-radius;
    padding: variables.$project-panel-padding;
    transition: background-color variables.$animation-duration-fast ease-in-out;
}

.skeleton {
    // handle opacity here, otherwise the whole element will be transparent
    background: repeating-linear-gradient(
        45deg,
        color.adjust(variables.$light-color, $alpha:-0.9),
        color.adjust(variables.$light-color, $alpha:-0.9) 2.5%,
        color.adjust(variables.$light-color, $alpha:-0.45) 22.5%,
        color.adjust(variables.$light-color, $alpha:-0.45) 27.5%,
        color.adjust(variables.$light-color, $alpha:-0.9) 47.5%,
        color.adjust(variables.$light-color, $alpha:-0.9) 50%
    );
    background-size: 200% 200%;

    animation: skeleton 5s ease-in-out infinite;

    box-shadow: 0 0 0 0.1rem color.adjust(variables.$light-color, $alpha:-0.9) inset;
    border-radius: variables.$border-radius * 2;
}
@keyframes skeleton {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@media (pointer: fine) {
    /*
        This is a massive hack to work around the fact that clip-text doesn't play nice with text-decoration. Basically,
        we need to make our own underline and leverage ::after psuedoelements and their border-bottom.
    */
    .underline-feature-gradient {
        position: relative;
        white-space: nowrap;
    }

    .underline-feature-gradient:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        border-image-source: linear-gradient(90deg, variables.$feature-color, variables.$feature-gradient-short-color);
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-width: variables.$border-width;
        border-image-slice: 1;

        opacity: 0;
        transition: opacity variables.$animation-duration-fast ease-in-out;
    }

    .underline-feature-gradient:hover:after {
        opacity: 1;
    }
}

.pseudo-border {
    // Displays a feature gradient (short) border away from the element this class is applied to on hover

    position: relative; // The pseudo element needs to be absolutely positioned relative to this element
    z-index: 1; // New stacking context, so the psuedo element's z-index can be lowered

    &::after {
        // Make sure it can show up
        content: "";

        // Don't let it affect the pointer (mostly to prevent weird mouseover effects)
        pointer-events: none;

        // Expand the element to beyond the size of the contained element
        position: absolute;
        top: -(variables.$psuedo-border-outer-distance);
        left: -(variables.$psuedo-border-outer-distance);
        right: -(variables.$psuedo-border-outer-distance);
        bottom: -(variables.$psuedo-border-outer-distance);
        padding: variables.$psuedo-border-outer-distance;
        z-index: -1;

        // Perform a frame clip, so we only see the outer stripe (thanks: https://bennettfeely.com/clippy/)
        clip-path: polygon(
            0% 0%,
            0% 100%,
            variables.$psuedo-border-width 100%,
            variables.$psuedo-border-width variables.$psuedo-border-width,
            calc(100% - variables.$psuedo-border-width) variables.$psuedo-border-width,
            calc(100% - variables.$psuedo-border-width) calc(100% - variables.$psuedo-border-width),
            variables.$psuedo-border-width calc(100% - variables.$psuedo-border-width),
            variables.$psuedo-border-width 100%,
            100% 100%,
            100% 0%
        );

        // Hide it by default (and set a consistent transition)
        opacity: 0;
        transition: variables.$transition-all-fast;

        // Visual styling
        border-radius: variables.$border-radius;
    }

    // Show the psuedo-border on hover and when the `active` class is applied (and style for the situation!)
    &:hover::after {
        @extend .bg-gradient-feature;
        opacity: 1;
    }
    &:not(:hover).active::after {
        @extend .bg-gradient-light;
        opacity: 1;
    }

    // Optionally update the clip-path to use a circular frame instead of the default rectangle
    &.circular::after {
        clip-path: circle(50%) !important;
        mask-mode: alpha;
        mask-composite: subtract;

        // These percentages are basically magic, I dunno why they work
        mask-image: radial-gradient(
            circle at center,
            transparent 0%,
            transparent calc(65% - variables.$psuedo-border-width),
            black calc(75% - variables.$psuedo-border-width),
            black 100%
        );
    }
}
