<div    class="image-display-container relative"
        [ngStyle]="{'height': imageHeight + 'px'}"
        (window:resize)="onWindowResize()">
    <img    #thumnailImage
            class="absolute top-0 bottom-0 my-auto"
            [src]="image.thumbnailUrl"
            [alt]="image.altText" />
    <img    #fullResImage
            *ngIf="canLoadFullResImage"
            class="absolute top-0 bottom-0 my-auto"
            [ngStyle]="{'opacity': isFullResImageLoaded ? 1 : 0}"
            (load)="onFullResImageLoaded()"
            [src]="image.url"
            [alt]="image.altText" />
</div>
