@use "../../../../../variables";
@use "../../../../../mixins";
@use "../../styling/_gallery_variables";


img {
    /*
        kinda hacky, but I don't think there's a way to build a hierarchy of transitions. Just gotta make sure that
        transition that's being overridden listed first 
    */
    transition: variables.$transition-all-fast, opacity gallery_variables.$thumbnail-fade-out-duration ease-in-out;
}

.image-display-container {
    width: 100%;
}

.image-display-container img {
    margin: auto;
    object-fit:contain;
}
