@use "variables";
@use "sass:list";
@use "sass:map";


$name-factor: 0.7;
$base-logo: 7rem;
$sm-logo: 8rem;
$md-logo: 10rem;
$config: (
    0px: (
        "logo": $base-logo,
        "name": 4rem,
        "name-left-offset": 0px,
        "tagline": 1.5rem
    ),
    variables.$sm: (
        "logo": $sm-logo,
        "name": $sm-logo * $name-factor,
        "name-left-offset": 0px,
        "tagline": $sm-logo * (1 - $name-factor)
    ),
    variables.$md: (
        "logo": $md-logo,
        "name": $md-logo * $name-factor,
        "name-left-offset": -4px,
        "tagline": $md-logo * (1 - $name-factor)
    )
);

@for $i from 1 through length($config) {
    $key: list.nth(map-keys($config), $i);
    $value: list.nth($config, $i);

    @media(min-width: $key) {
        .logo-container {
            height: map-get($config, $key, "logo");
            width: map-get($config, $key, "logo");
        }

        .name-container {
            /*
                Frustrating workaround for some leading space on the N glyph in my chosen font
                https://stackoverflow.com/questions/28809771/left-space-on-first-letter-css
            */
            position: relative;
            left: map-get($config, $key, "name-left-offset");
            color: variables.$light-text-color;

            .name {
                font-style: normal;
                font-weight: 900;
                font-size: map-get($config, $key, "name");
                font-family: variables.$font-family, sans-serif;
                line-height: 1;
            }
        }

        .tagline {
            font-style: normal;
            font-weight: normal;
            font-size: map-get($config, $key, "tagline");;
            font-family: variables.$font-family, sans-serif;
            color: variables.$light-text-color;
        }
    }
}
