<div class="bg-gradient-dark min-h-screen w-screen flex flex-col justify-center px-2 md:px-10">
    <div class="md:container mx-auto my-2 md:my-10">

        <div class="flex flex-col md:flex-row justify-center items-center mb-5 md:mb-10">
            <div class="md:mr-5 logo-container">
                <logo></logo>
            </div>
            <div class="flex flex-col mt-5 md:mt-0">
                <div class="flex justify-center md:justify-normal name-container">
                    <span class="name">Nick</span>
                </div>
                <div class="flex flex-row md:w-0">
                    <span class="flex justify-center md:justify-normal tagline">
                        <text-swapper [swapOptions]="taglines" [activeOption]="tagline"></text-swapper>
                    </span>
                </div>
            </div>
        </div>


        <div class="flex justify-center mt-5 md:mt-10">
            <div class="w-full md:w-11/12 lg:w-9/12 xl:w-6/12 2xl:4/12 grid grid-cols-1 md:grid-cols-3 gap-5">

                <a      href="https://github.com/naschorr"
                        target="_blank"
                        class="w-full"
                        (mouseover)="onLinkMouseOver(linkFlavorEnum.CODE)"
                        (mouseleave)="onLinkMouseExit()">
                    <image-button   [containerClasses]="activeLinkFlavor === linkFlavorEnum.CODE ? ['active'] : []"
                                    contentHeight="1.25rem"
                                    imagePath="assets/images/icons/github-filled.png"
                                    imageAltText="GitHub logo"
                                    text="GitHub">
                    </image-button>
                </a>

                <a      routerLink="/projects"
                        class="w-full"
                        (mouseover)="onLinkMouseOver(linkFlavorEnum.PORTFOLIO)"
                        (mouseleave)="onLinkMouseExit()">
                    <image-button   [containerClasses]="activeLinkFlavor === linkFlavorEnum.PORTFOLIO ? ['active'] : []"
                                    contentHeight="1.25rem"
                                    imagePath="assets/images/icons/flask-filled.png"
                                    imageAltText="Filled in image of a flask used in scientific experiments"
                                    text="Projects">
                    </image-button>
                </a>

                <a      href="https://www.printables.com/@naschorr_134538"
                        target="_blank"
                        class="w-full"
                        (mouseover)="onLinkMouseOver(linkFlavorEnum.PRINT)"
                        (mouseleave)="onLinkMouseExit()">
                    <image-button   [containerClasses]="activeLinkFlavor === linkFlavorEnum.PRINT ? ['active'] : []"
                                    contentHeight="1.25rem"
                                    imagePath="assets/images/icons/3d-printer-filled.png"
                                    imageAltText="Filled in image of a 3d printer"
                                    text="3D Printing">
                    </image-button>
                </a>

            </div>
        </div>

    </div>
</div>
<footer [isAbsolute]=true containerClasses="color-light m-1 px-3"></footer>
