
<div class="flex flex-row {{buttonFlavor}} bg-gradient-light pseudo-border {{containerClasses.join(' ')}}">
    <div    class="shrink"
            [ngStyle]="{'height': contentHeight, 'width': contentHeight}">
        <img    [src]="imagePath"
                class="filter-dark-color"
                height="100%"
                [alt]="imageAltText">
    </div>
    <div    class="{{textClasses.join(' ')}} grow text-center mx-3 leading-none color-dark"
            [ngStyle]="{'font-size': contentHeight}">{{text}}</div>
</div>
