@use "variables";
@use "mixins";
@use "sass:color";


.panel:hover {
    background-color: variables.$panel-active-background-color;
}

.panel.flash {
    animation: 1s ease-in-out 0s 5 flash;
}
@keyframes flash {
    0% { background-color: variables.$panel-background-color }
    50% { background-color: variables.$panel-active-background-color }
    100% { background-color: variables.$panel-background-color }
}

.gallery-container {
    margin-left: -(variables.$project-panel-padding);
    margin-right: -(variables.$project-panel-padding);
}

.badge {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
}

.technology {
    @include mixins.bg-gradient(variables.$light-color, variables.$light-gradient-color);
    color: variables.$dark-color;
}