<div    *ngIf="!!project"
        class="panel color-light mt-3"
        [ngClass]="{'flash': flash}"
        (mouseover)="onProjectHover()"
        (click)="onProjectClick()">
    <div class="flex justify-between mb-2 items-center">
        <h2 [id]="project.id">
            <span class="bg-gradient-light clip-text">
                {{project.name}}
            </span>
        </h2>
    </div>

    <div    *ngIf="!!project.images"
            class="gallery-container mb-3">
        <gallery-inline [images]="project.images"></gallery-inline>
    </div>

    <div class="description-container mb-3">
        <ng-container *ngFor="let paragraph of project.description; index as p;">
            <p  [innerHTML]="paragraph"></p>
        </ng-container>
    </div>

    <div    *ngIf="project.funFacts && project.funFacts.length > 0"
            class="mb-3">
        <div>Fun Stats:</div>
        <ul     *ngFor="let fact of project.funFacts; index as f;"
                class="list-inside">
            <li>{{fact}}</li>
        </ul>
    </div>

    <div class="flex flex-row">
        <ng-container *ngIf="!!project.url && project.url.hostname.toLowerCase().includes('github')">
            <div class="shrink mr-5">   <!-- Should be mr-3, but mr-5 looks better visually -->
                <div>Check It Out:</div>
                <a      [href]="project.url"
                        target="_blank">
                    <image-button   buttonClass="button-sm"
                                    contentHeight="1rem"
                                    imagePath="assets/images/icons/github-filled.png"
                                    imageAltText="GitHub logo"
                                    text="GitHub"></image-button>
                </a>
            </div>
        </ng-container>
        <div class="grow">
            <div>Tech Used:</div>
            <ng-container *ngFor="let technology of project.technologies; index as t;">
                <div    class="badge inline-block select-none"
                        [ngClass]="{
                            'mr-0': t == project.technologies.length - 1,
                            'mr-1': t < project.technologies.length - 1
                        }">{{technology}}</div>
            </ng-container>
        </div>
    </div>
</div>
