@if (!!project) {
  <div
    class="panel color-light"
    [ngClass]="{'flash': flash}"
    (mouseover)="onProjectHover()"
    (click)="onProjectClick()">
    <div class="flex justify-between mb-2 items-center">
      <h2 [id]="project.id">
        <span class="bg-gradient-light clip-text">
          {{project.name}}
        </span>
      </h2>
    </div>
    @if (!!project.images) {
      <div
        class="gallery-container mb-3">
        <gallery-inline [images]="project.images"></gallery-inline>
      </div>
    }
    <div class="description-container mb-3">
      @for (paragraph of project.description; track paragraph; let p = $index) {
        <p  [innerHTML]="paragraph"></p>
      }
    </div>
    @if (project.funFacts && project.funFacts.length > 0) {
      <div
        class="mb-3">
        <div>Fun stats:</div>
        @for (fact of project.funFacts; track fact; let f = $index) {
          <ul
            class="list-inside">
            <li>{{fact}}</li>
          </ul>
        }
      </div>
    }
    <div class="flex flex-col md:flex-row">
      @if (!!project.url && project.url.hostname.toLowerCase().includes('github')) {
        <div class="shrink mr-0 md:mr-5 mb-3 md:mb-0">   <!-- Should be mr-3, but mr-5 looks better visually -->
          <div>{{repoLinkAttentionGrabber}}</div>
          <a      [href]="project.url"
            target="_blank">
            <image-button   buttonFlavor="button-sm"
              contentHeight="1rem"
              imagePath="assets/images/icons/github-filled.png"
              imageAltText="GitHub logo"
              text="GitHub">
            </image-button>
          </a>
        </div>
      }
      @if (!!project.url && project.url.hostname.toLowerCase().includes('printables')) {
        <div class="shrink mr-0 md:mr-5 mb-3 md:mb-0">   <!-- Should be mr-3, but mr-5 looks better visually -->
          <div>{{repoLinkAttentionGrabber}}</div>
          <a      [href]="project.url"
            target="_blank">
            <image-button   buttonFlavor="button-sm"
              contentHeight="1rem"
              imagePath="assets/images/icons/printables.svg"
              imageAltText="Printables logo"
              text="Printables">
            </image-button>
          </a>
        </div>
      }
      <div class="grow">
        <div>Tech used:</div>
        @for (technology of project.technologies; track technology; let t = $index) {
          <div class="badge dark inline-block select-none mr-1 last:mr-0">{{technology}}</div>
        }
      </div>
    </div>
  </div>
}
