<div    *ngIf="!!project"
        class="panel color-medium mt-3">
    <div class="flex justify-between mb-2 items-center">
        <h2>
            <a      *ngIf="!!project.url; else projectUrlExists"
                    [href]="project.url"
                    target="_blank"
                    class="bg-gradient-feature-short clip-text underline-feature-gradient">
                {{project.name}}
            </a>
            <ng-template #projectUrlExists>
                <span class="bg-gradient-feature-short clip-text">
                    {{project.name}}
                </span>
            </ng-template>
        </h2>
        <ng-container *ngIf="!!project.url && project.url.hostname.toLowerCase().includes('github')">
            <a      [href]="project.url"
                    target="_blank"
                    class="nav-container shrink-0 relative bottom-0.5"
                    title="See it on GitHub!">
                <div class="bg-gradient-feature-short github-mask maskable nav-item"></div>
                <div class="bg-gradient-feature-short github-filled-mask maskable nav-item hoverable"></div>
            </a>
        </ng-container>
    </div>

    <div    *ngIf="!!project.images"
            class="gallery-container mb-3">
        <gallery-inline [images]="project.images"></gallery-inline>
    </div>

    <div class="description-container mb-3">
        <ng-container *ngFor="let paragraph of project.description; index as p;">
            <p  [innerHTML]="paragraph"></p>
        </ng-container>
    </div>

    <div    *ngIf="project.funFacts && project.funFacts.length > 0"
            class="mb-3">
        <div>Fun Stats:</div>
        <ul     *ngFor="let fact of project.funFacts; index as f;"
                class="list-inside">
            <li>{{fact}}</li>
        </ul>
    </div>

    <div class="">
        <div>Tech Used:</div>
        <ng-container *ngFor="let technology of project.technologies; index as t;">
            <div    class="badge technology bg-gradient-medium inline-block select-none"
                    [ngClass]="{
                        'mr-0': t == project.technologies.length - 1,
                        'mr-1': t < project.technologies.length - 1
                    }">{{technology}}</div>
        </ng-container>
    </div>
</div>
