@use "variables";
@use "mixins";
@use "sass:color";


.panel:hover {
    background-color: variables.$panel-active-background-color;
}

.panel.flash {
    animation: 1s ease-in-out 0s 5 flash;
}
@keyframes flash {
    0% { background-color: variables.$panel-background-color }
    50% { background-color: variables.$panel-active-background-color }
    100% { background-color: variables.$panel-background-color }
}

.gallery-container {
    margin-left: -(variables.$project-panel-padding);
    margin-right: -(variables.$project-panel-padding);
}
