@use "variables";
@use "mixins";
@use "sass:color";

$panel-background-color: color.adjust(variables.$light-color, $alpha:-0.9);
$panel-active-background-color: color.adjust(variables.$light-color, $alpha:-0.85);

.panel {
    background-color: $panel-background-color;
    border-radius: variables.$border-radius;
    padding: variables.$project-panel-padding;
    transition: background-color variables.$animation-duration-fast ease-in-out;
}
.panel:hover {
    background-color: $panel-active-background-color;
}

.panel.flash {
    animation: 1s ease-in-out 0s 5 flash;
}
@keyframes flash {
    0% { background-color: $panel-background-color }
    50% { background-color: $panel-active-background-color }
    100% { background-color: $panel-background-color }
}

.gallery-container {
    margin-left: -(variables.$project-panel-padding);
    margin-right: -(variables.$project-panel-padding);
}

.badge {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
}

.technology {
    background-color: variables.$medium-color;
    color: variables.$dark-color;
}