@use "../../../../../variables";
@use "../../../../../mixins";
@use "../../styling/_gallery_variables";

:host {
    pointer-events: none;
}

.lighbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;  // Make sure it's at the top!

    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.8);

}
@supports (backdrop-filter: blur()) {
    .lighbox-container {
        backdrop-filter: blur(variables.$blur-radius);
    }
}

.close {
    height: 1.5rem;
    width: 1.5rem;
    margin: 2rem;

    font-size: 2.4rem;
    line-height: 1.5rem;
    color: variables.$medium-color;

    transition: variables.$transition-all-fast;
}
.close:hover {
    color: variables.$light-color;
}

.gallery-container {
    height: calc(100% - 2 * 3.5rem);
    box-shadow: variables.$subtle-shadow;
}

.side-image {
    width: gallery_variables.$side-image-width;
    height: gallery_variables.$side-image-height;
}
/*
    Force these styles onto the image-display component, otherwise there'd have to be a bunch of logic in there to
    handle specific styling and that doesn't really make sense
*/
::ng-deep .side-image img {
    height: 100%;
    object-fit: cover !important;
    transition: variables.$transition-all-fast;
}
::ng-deep .side-image img:hover {
    transform: scale(1.1);
}
::ng-deep .prev-image img {
    object-position: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
::ng-deep .next-image img {
    object-position: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.footer {
    height: 1.5rem;
    margin: 2rem;
}
