@use "variables";
@use "mixins";
@use "../../styling/_gallery_variables";

:host {
    pointer-events: none;
}

.lighbox-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    z-index: 1000;  // Make sure it's at the top!

    pointer-events: all;
    background-color: variables.$dark-trans-color;

}
@supports (backdrop-filter: blur()) {
    .lighbox-container {
        backdrop-filter: blur(variables.$blur-radius);
    }
}

$close-size: 1.5rem;
$close-margin: 2rem;
.close {
    height: $close-size;
    width: $close-size;
    margin: $close-margin;

    font-size: 2.4rem;
    line-height: 1.5rem;
    color: variables.$medium-color;

    transition: variables.$transition-all-fast;
}
.close:hover {
    color: variables.$light-color;
}

.gallery-container {
    /*
        This is the main content pane for the lightbox, and sits between the close button (header?) and the footer which
        are equally tall.
        It's sized this way so that it'll be centered, and thus it's easy for it's contents to be centered relative to
        the screen.
    */
    height: calc(100% - 2 * ($close-size + 2 * $close-margin));
}

.side-nav-image {
    width: gallery_variables.$side-nav-image-width;
    height: gallery_variables.$side-nav-image-height;
}
.lower-nav-image {
    height: gallery_variables.$lower-nav-image-height;
}
/*
    Force these styles onto the image-display component, otherwise there'd have to be a bunch of logic in there to
    handle specific styling and that doesn't really make sense
*/
// Active image styles
::ng-deep .active-image .image-display-container {
    width: 100% !important;
}
::ng-deep .active-image .image-display-container img {
    max-height: gallery_variables.$active-image-height !important;
    width: 100%;
}

// Side nav image styles
::ng-deep .side-nav-image .image-display-container {
    height: gallery_variables.$side-nav-image-height !important;
    width: 100% !important;
}
::ng-deep .side-nav-image img {
    object-fit: cover !important;
}
::ng-deep .prev-image.side-nav-image img {
    object-position: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
::ng-deep .next-image.side-nav-image img {
    object-position: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.text-panel {
    background-color: variables.$dark-trans-color;
    border-radius: variables.$border-radius;
}

// Lower nav image styles
::ng-deep .lower-nav-image .image-display-container {
    height: gallery_variables.$lower-nav-image-height !important;
}
::ng-deep .prev-image.lower-nav-image img {
    object-position: left;
}
::ng-deep .next-image.lower-nav-image img {
    object-position: right;
}

// Shared nav image styles
::ng-deep .side-nav-image img,
::ng-deep .lower-nav-image img {
    height: 100%;
}
@media (pointer: fine) {
    ::ng-deep .side-nav-image:hover,
    ::ng-deep .lower-nav-image:hover {
        transform: scale(1.1);
        transition: variables.$transition-all-fast;
    }
}
::ng-deep .side-nav-image .image-display-container,
::ng-deep .lower-nav-image .image-display-container {
    box-shadow: variables.$subtle-shadow;
}

.footer {
    height: $close-size;
    margin: $close-margin;
}
