<div class="bg-gradient-dark flex flex-col min-h-screen w-screen">
  <header title="Portfolio"></header>

  <div class="flex flex-col xl:flex-row gap-3 m-3 scrollbar-offset">
    <div id="primary-gutter" class="flex-1 shrink-[2] flex xl:justify-end">
      <project-filter></project-filter>
    </div>

    <main class="container flex flex-col shrink-[1] min-w-0 gap-3 mx-auto">
      @for (project of projects; track project; let i = $index) {
        <project [project]="project" [flash]="requestedProjectId == project.id"></project>
      }
      @if (projects.length === 0) {
        <div class="color-light text-center my-6">
          <span class="opacity-70">No projects match the selected filters.</span>
        </div>
      }
    </main>

    <div id="secondary-gutter" class="flex-1 shrink-[3]"></div>
  </div>

  <footer [containerClasses]="['scrollbar-offset', 'mb-3']"></footer>
</div>