@use "variables";
@use "mixins";
@use "styles";
@use "sass:list";

:host {
    height: 100%;
    width: 100%;
}

// Scrollbars
@supports selector(::-webkit-scrollbar) {
    // Slightly fancier/more minimal scrollbar on Chrome and friends
    ::-webkit-scrollbar {
        background-color: transparent;
        height: 0.5rem;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: variables.$border-radius;
        @extend .bg-gradient-light;
    }
    ::-webkit-scrollbar-button {
        width: calc(variables.$project-panel-padding / 2);    // Each project has a padding of 1rem, but there's buttons on each side
    }
}
@supports (not (selector(::-webkit-scrollbar))) {
    // Fallback for browsers that don't support the fancy scrollbar
    :host {
        scrollbar-width: thin;
        scrollbar-color: variables.$light-color transparent;
    }
}

// Image sizing breakpoints for the gallery thumbnails
@for $i from 1 through length(variables.$breakpoints) {
    $breakpoint: list.nth(variables.$breakpoints, $i);
    @media(min-width: $breakpoint) {
        .gallery-item {
            height: 84px + $i * 12px;
        }
    }
}

// Gallery styling and layout

// This is the extra space needed around the outer edges to make sure that the onHover borders have enough space to render.
$gallery-margin: 0.375rem;  // tailwind: m-1.5

.gallery-inline-container {
    overflow-x: auto;   // Make sure that it'll scroll horizontally if there are too many items
    padding-top: $gallery-margin;   // Add vertical padding to give room for the onHover borders
    padding-bottom: $gallery-margin;
}
.psuedo-gallery-item {
    /*
        This fake element adds space to the beginning and end of the inline gallery to align the first and last elements
        with the content on the rest of the page
    */
    min-width: variables.$project-panel-padding;
    min-height: 100%;
}

.gallery-item {
    img {
        box-shadow: variables.$subtle-shadow;
        transition: variables.$transition-all-fast;
    }
    &:hover img {
        box-shadow: none;
    }
}
