@use "variables";
@use "mixins";
@use "styles";
@use "sass:list";
@use "../../styling/gallery_styles.scss";

:host {
    height: 100%;
    width: 100%;
}

@for $i from 1 through length(variables.$breakpoints) {
    $breakpoint: list.nth(variables.$breakpoints, $i);
    @media(min-width: $breakpoint) {
        .gallery-item {
            height: 84px + $i * 12px;
        }
    }
}

.gallery-item {
    position: relative;
    z-index: 1; // New stacking context, so the psuedo element's z-index can be lowered
    
    img {
        box-shadow: variables.$subtle-shadow;
        transition: variables.$transition-all-fast;
    }
    &:hover img {
        box-shadow: none;
    }

    // Kinda hacky, but it works
    .pseudo-border {
        @extend .pseudo-border;
    }
    &:hover .pseudo-border {
        opacity: 1;
    }
}
