@use "variables";

:host {
    @apply flex;
    @apply justify-center;
    @apply flex-grow;
}

.container > div {
    @media (min-width: variables.$xl) {
        padding-left: variables.$container-padding;
        padding-right: variables.$container-padding;
    }
}
