@use "variables";
@use "mixins";
@use "styles";

$img-psuedo-border-distance: 6px;
$img-psuedo-border-radius: 3px;

.pseudo-border {
    // Expand the element to beyond the size of the contained element
    position: absolute;
    top: -$img-psuedo-border-distance;
    left: -$img-psuedo-border-distance;
    right: -$img-psuedo-border-distance;
    bottom: -$img-psuedo-border-distance;
    padding: $img-psuedo-border-distance;
    z-index: -1;

    // Hide it by default (and set a consistent transition)
    opacity: 0;
    transition: variables.$transition-all-fast;

    // Color it and make it visually consistent
    @extend .bg-gradient-feature;
    border-radius: variables.$border-radius;

    // Perform a frame clip, so we only see the outer stripe (thanks: https://bennettfeely.com/clippy/)
    clip-path: polygon(
        0% 0%,
        0% 100%,
        $img-psuedo-border-radius 100%,
        $img-psuedo-border-radius $img-psuedo-border-radius,
        calc(100% - $img-psuedo-border-radius) $img-psuedo-border-radius,
        calc(100% - $img-psuedo-border-radius) calc(100% - $img-psuedo-border-radius),
        $img-psuedo-border-radius calc(100% - $img-psuedo-border-radius),
        $img-psuedo-border-radius 100%,
        100% 100%,
        100% 0%
    );
}
