@use "gallery_variables" as gallery_variables;

.pseudo-border {
    // Expand the element to beyond the size of the contained element
    position: absolute;
    top: -(gallery_variables.$img-psuedo-border-distance);
    left: -(gallery_variables.$img-psuedo-border-distance);
    right: -(gallery_variables.$img-psuedo-border-distance);
    bottom: -(gallery_variables.$img-psuedo-border-distance);
    padding: gallery_variables.$img-psuedo-border-distance;
    z-index: -1;

    // Perform a frame clip, so we only see the outer stripe (thanks: https://bennettfeely.com/clippy/)
    clip-path: polygon(
        0% 0%,
        0% 100%,
        gallery_variables.$img-psuedo-border-radius 100%,
        gallery_variables.$img-psuedo-border-radius gallery_variables.$img-psuedo-border-radius,
        calc(100% - gallery_variables.$img-psuedo-border-radius) gallery_variables.$img-psuedo-border-radius,
        calc(100% - gallery_variables.$img-psuedo-border-radius) calc(100% - gallery_variables.$img-psuedo-border-radius),
        gallery_variables.$img-psuedo-border-radius calc(100% - gallery_variables.$img-psuedo-border-radius),
        gallery_variables.$img-psuedo-border-radius 100%,
        100% 100%,
        100% 0%
    );
}
